.array-container{
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: flex-end;
  flex: 3;
}
.array-bar{
  width: 5px;
  display: inline-block;
  margin: 3px;
}
.title-container{
  margin-bottom: 100px;
}
.buttons-container{
  
}
