body{
  height: 100%;
  width: 100%;
  background-color: #F5F2D0
}

.array-bar{
  display: inline-block;
  margin: 3px;
}

#page-container {
  position: relative;
  min-height: 100vh;
  margin-left: 200px;
  margin-right: 150px;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
  justify-content: center;

}

#footer {
  position: absolute;
  bottom: 0;
  width: 10%;        /* Footer height */
}
